*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: #4c0c0f;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  width: 1200px;
  flex-wrap: wrap;
}

h2 {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 1200px;
  padding: 10px 15px;
  margin-top: 50px;
  border-radius: 5px;
  color: #000000;
  background-color: #ebe4e4;
  box-shadow: 0 0px 25px rgba(250, 247, 247, 0.8);
  font-size: 45px;
}

.card {
  background-color: #121010;
  color: #95d7e3;
  height: 100px;
  width: 350px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(54, 239, 73, 0.8);
  display: inline-table;
  flex-direction: column;
}
.card:hover{
  box-shadow: 0 0 15px rgba(154, 221, 139, 0.8);
  animation: zoom 0.3s ease-in-out forwards;
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
  @keyframes zoom {
    0% { transform: scale(0.5); }
    100% { transform: scale(1.05); }
  }
}

.card p {
  font-size: 25px;
  color: rgb(154, 221, 139);
  margin: auto;
  display: inline-block;
}

button {
  font-size: 20px;
  height: 40px;
  width: 75px;
  margin: 5px;
  padding: 2px;
}

#done-btn {
  border-radius: 30%;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

#delete-btn {
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #3ed85d;
  color: #ffffff;
  cursor: pointer;
}
#delete-btn:hover {
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #900505;
  color: #ffffff;
  cursor: pointer;
}

#edit-btn {
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #a74119;
  color: #ffffff;
  cursor: pointer;
}
#edit-btn:hover{
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4a382d;
  color: #ffffff;
  cursor: pointer;
}