*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: #4c0c0f;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  width: 1200px;
}

h2 {
  border: 2px solid rgb(143, 135, 135);
  display: flex;
  justify-content: center;
  height: 80px;
  width: 1200px;
  padding: 10px 15px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #ebe4e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 45px;
}

.cards {
  background-color: #f5f5f5;
  color: #52a7b6;
  height: 100px;
  width: 350px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: inline-block;
}


