@import "tailwindcss";

*{
  box-sizing: border-box;
}

body{
  background-color: rgb(141, 174, 202);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
}

h1{
  background-color: rgb(214, 201, 170);
  font-size: 50px;
  text-align: center;
  margin: fixed content;
}

button{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: 3px solid black;
  cursor: pointer;
  background-color: rgb(59, 130, 246);
  color: white;
  padding: 20px;
  margin: 10px;
}

#reset{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: 3px solid black;
  cursor: pointer;
  background-color: rgb(11, 110, 128);
  color: white;
  padding: 20px;
  margin: 10px;
}